{
  "root": true,
  "extends": ["./configs/eslint/common", "prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "tsconfig.json"
      }
    }
  },
  "rules": {
    "no-console": "off"
  }
}
